.toastr {
  visibility: hidden;

  // the following 3 lines make sure the toastr appear in the middle of the screen
  left: 50%;
  min-width: 500px;
  margin-left: -250px;

  // make sure the toastr stick to the viewport
  position: fixed;
  z-index: 1;
  bottom: 30px;

  // no background-color for this container div so the background is transparent

  .message {
    font-size: 1em;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 20px;
    width: 100%;
    background-color: #6DAE6A;
  }

  span {
    margin: 0 5px;
    font-size: 1em;
    font-weight: bolder;
    color: yellow;
  }
}

.toastr.show {
  visibility: visible;

  /*
    take 0.5 seconds to fade in and out the toastr;
    however, delay the fade out process for 2.5 seconds.
  */
  animation: fadein 0.5s;

  // we won't use fadeout animation since it will conflict with our timeout callback in Toastr component
  // animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
